Capstone Project

In [ ]:
#pip install pandas

Requirement already satisfied: pandas in /Users/andrewauxier/capstone/.venv/lib/python3.9/site-packages (2.3.1)
Requirement already satisfied: numpy>=1.22.4 in /Users/andrewauxier/capstone/.venv/lib/python3.9/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/andrewauxier/capstone/.venv/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/andrewauxier/capstone/.venv/lib/python3.9/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/andrewauxier/capstone/.venv/lib/python3.9/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/andrewauxier/capstone/.venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd

Reading in the first .csv file

In [11]:
df_prices = pd.read_csv('../data/car_prices.csv')

Exploring the first .csv file a little

In [12]:
df_prices.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

In [13]:
df_prices.shape

(558837, 16)

In [14]:
df_prices.dtypes

year              int64
make             object
model            object
trim             object
body             object
transmission     object
vin              object
state            object
condition       float64
odometer        float64
color            object
interior         object
seller           object
mmr             float64
sellingprice    float64
saledate         object
dtype: object

In [15]:
df_prices.describe()

,year,condition,odometer,mmr,sellingprice
count,558837.000000,547017.000000,558743.000000,558799.000000,558825.000000
mean,2010.038927,30.672365,68320.017767,13769.377495,13611.358810
std,3.966864,13.402832,53398.542821,9679.967174,9749.501628
min,1982.000000,1.000000,1.000000,25.000000,1.000000
25%,2007.000000,23.000000,28371.000000,7100.000000,6900.000000
50%,2012.000000,35.000000,52254.000000,12250.000000,12100.000000
75%,2013.000000,42.000000,99109.000000,18300.000000,18200.000000
max,2015.000000,49.000000,999999.000000,182000.000000,230000.000000

Checking to see how many null values are in the first .csv file

In [16]:
print(df_prices.isnull().sum())

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
vin                 4
state               0
condition       11820
odometer           94
color             749
interior          749
seller              0
mmr                38
sellingprice       12
saledate           12
dtype: int64

In [17]:
print(df_prices.isnull().sum())

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
vin                 4
state               0
condition       11820
odometer           94
color             749
interior          749
seller              0
mmr                38
sellingprice       12
saledate           12
dtype: int64

Removing null values

In [18]:
df_prices_cleaned = df_prices.dropna()

Confirming null values were dropped

In [19]:
print(df_prices_cleaned.isnull().sum())

year            0
make            0
model           0
trim            0
body            0
transmission    0
vin             0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
saledate        0
dtype: int64

In [20]:
df_prices_cleaned.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

Removing columns that aren't pertinent to the analysis

In [21]:
df_prices_cleaned = df_prices_cleaned.drop(columns = ['condition', 'odometer', 'color', 'interior', 'seller', 'saledate'])

Confirming that the unnecessary columns were dropped

In [22]:
df_prices_cleaned.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'mmr', 'sellingprice'],
      dtype='object')

Checking to see what are the unique values listed in the body column, as this is the column that will be used to join to the next table.

In [23]:
body_values = df_prices_cleaned['body'].unique()
print(body_values)

['SUV' 'Sedan' 'Convertible' 'Coupe' 'Wagon' 'Hatchback' 'Crew Cab'
 'G Coupe' 'G Sedan' 'Elantra Coupe' 'Genesis Coupe' 'Minivan' 'Van'
 'Double Cab' 'CrewMax Cab' 'Access Cab' 'King Cab' 'CTS Coupe'
 'SuperCrew' 'E-Series Van' 'Extended Cab' 'SuperCab' 'G Convertible'
 'Koup' 'Regular Cab' 'Quad Cab' 'CTS-V Coupe' 'sedan' 'G37 Convertible'
 'Club Cab' 'Xtracab' 'Q60 Convertible' 'CTS Wagon' 'G37 Coupe' 'Mega Cab'
 'Cab Plus 4' 'Q60 Coupe' 'Beetle Convertible' 'TSX Sport Wagon'
 'Promaster Cargo Van' 'Cab Plus' 'GranTurismo Convertible' 'CTS-V Wagon'
 'Ram Van' 'convertible' 'minivan' 'Transit Van' 'van' 'regular-cab' 'suv'
 'g sedan' 'g coupe' 'hatchback' 'king cab' 'supercrew' 'g convertible'
 'coupe' 'crew cab' 'wagon' 'e-series van' 'regular cab' 'quad cab'
 'g37 convertible' 'supercab' 'extended cab' 'crewmax cab' 'double cab'
 'genesis coupe' 'access cab' 'mega cab' 'xtracab' 'beetle convertible'
 'cts coupe' 'koup' 'club cab' 'elantra coupe' 'q60 coupe' 'cts-v coupe'
 'transit van' 'granturismo convertible' 'tsx sport wagon'
 'promaster cargo van' 'q60 convertible' 'cab plus 4' 'cts wagon']

In [24]:
#df_prices_filtered = df_prices_cleaned[df_prices_cleaned['year']>2019]
#df_prices_filtered.head

In [27]:
df_fatal = pd.read_csv('../data/fatal_crashes_combined.csv')

In [28]:
df_fatal.columns

Index(['Body Class', '2020_Number', '2020_Percent', '2021_Number',
       '2021_Percent', '2022_Number', '2022_Percent', '2023_Number',
       '2023_Percent'],
      dtype='object')