Capstone Project

In [ ]:
#pip install pandas

Requirement already satisfied: pandas in /Users/andrewauxier/capstone/.venv/lib/python3.9/site-packages (2.3.1)
Requirement already satisfied: numpy>=1.22.4 in /Users/andrewauxier/capstone/.venv/lib/python3.9/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/andrewauxier/capstone/.venv/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/andrewauxier/capstone/.venv/lib/python3.9/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/andrewauxier/capstone/.venv/lib/python3.9/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/andrewauxier/capstone/.venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

Reading in the first .csv file

In [2]:
df_prices = pd.read_csv('../data/car_prices.csv')

Exploring the first .csv file a little

In [3]:
df_prices.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

In [4]:
df_prices.shape

(558837, 16)

In [5]:
df_prices.dtypes

year              int64
make             object
model            object
trim             object
body             object
transmission     object
vin              object
state            object
condition       float64
odometer        float64
color            object
interior         object
seller           object
mmr             float64
sellingprice    float64
saledate         object
dtype: object

In [6]:
df_prices.describe()

,year,condition,odometer,mmr,sellingprice
count,558837.000000,547017.000000,558743.000000,558799.000000,558825.000000
mean,2010.038927,30.672365,68320.017767,13769.377495,13611.358810
std,3.966864,13.402832,53398.542821,9679.967174,9749.501628
min,1982.000000,1.000000,1.000000,25.000000,1.000000
25%,2007.000000,23.000000,28371.000000,7100.000000,6900.000000
50%,2012.000000,35.000000,52254.000000,12250.000000,12100.000000
75%,2013.000000,42.000000,99109.000000,18300.000000,18200.000000
max,2015.000000,49.000000,999999.000000,182000.000000,230000.000000

Checking to see how many null values are in the first .csv file

In [7]:
print(df_prices.isnull().sum())

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
vin                 4
state               0
condition       11820
odometer           94
color             749
interior          749
seller              0
mmr                38
sellingprice       12
saledate           12
dtype: int64

In [8]:
print(df_prices.isnull().sum())

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
vin                 4
state               0
condition       11820
odometer           94
color             749
interior          749
seller              0
mmr                38
sellingprice       12
saledate           12
dtype: int64

Removing null values

In [9]:
df_prices_cleaned = df_prices.dropna()

Confirming null values were dropped

In [10]:
print(df_prices_cleaned.isnull().sum())

year            0
make            0
model           0
trim            0
body            0
transmission    0
vin             0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
saledate        0
dtype: int64

In [11]:
df_prices_cleaned.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

Removing columns that aren't pertinent to the analysis

In [12]:
df_prices_cleaned = df_prices_cleaned.drop(columns = ['condition', 'odometer', 'color', 'interior', 'seller', 'saledate'])

Confirming that the unnecessary columns were dropped

In [13]:
df_prices_cleaned.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'mmr', 'sellingprice'],
      dtype='object')

Checking to see what are the unique values listed in the body column, as this is the column that will be used to join to the next table. Converting the values to lower case and removing the spaces to get rid of duplicate body types.

In [32]:
body_values = df_prices_cleaned['body']
print(body_values.unique())

['SUV' 'Sedan' 'Convertible' 'Coupe' 'Wagon' 'Hatchback' 'Crew Cab'
 'G Coupe' 'G Sedan' 'Elantra Coupe' 'Genesis Coupe' 'Minivan' 'Van'
 'Double Cab' 'CrewMax Cab' 'Access Cab' 'King Cab' 'CTS Coupe'
 'SuperCrew' 'E-Series Van' 'Extended Cab' 'SuperCab' 'G Convertible'
 'Koup' 'Regular Cab' 'Quad Cab' 'CTS-V Coupe' 'sedan' 'G37 Convertible'
 'Club Cab' 'Xtracab' 'Q60 Convertible' 'CTS Wagon' 'G37 Coupe' 'Mega Cab'
 'Cab Plus 4' 'Q60 Coupe' 'Beetle Convertible' 'TSX Sport Wagon'
 'Promaster Cargo Van' 'Cab Plus' 'GranTurismo Convertible' 'CTS-V Wagon'
 'Ram Van' 'convertible' 'minivan' 'Transit Van' 'van' 'regular-cab' 'suv'
 'g sedan' 'g coupe' 'hatchback' 'king cab' 'supercrew' 'g convertible'
 'coupe' 'crew cab' 'wagon' 'e-series van' 'regular cab' 'quad cab'
 'g37 convertible' 'supercab' 'extended cab' 'crewmax cab' 'double cab'
 'genesis coupe' 'access cab' 'mega cab' 'xtracab' 'beetle convertible'
 'cts coupe' 'koup' 'club cab' 'elantra coupe' 'q60 coupe' 'cts-v coupe'
 'transit van' 'granturismo convertible' 'tsx sport wagon'
 'promaster cargo van' 'q60 convertible' 'cab plus 4' 'cts wagon']

Defining a function to clean up the body column, classifying each 'body' value into one of three categories and creating a column to store those categories. Coupe keeps getting classified at 'Other' for some reason.

In [37]:
def body_classification(body):
    if body in ['Sedan', 'Convertible', 'CTS-V Coupe' 'Coupe', 'Wagon', 'Hatchback', 'G Coupe', 'G Sedan', 'Elantra Coupe', 'Genesis Coupe', 'CTS Coupe', 'G Convertible', 'Koup', 'CTS-V Coupe', 'G37 Convertible', 'Q60 Convertible', 'CTS Wagon', 'G37 Coupe', 'Q60 Coupe', 'Beetle Convertible', 'TSX Sport Wagon', 'GranTurismo Convertible', 'CTS-V Wagon', 'sedan', 'convertible', 'coupe', 'wagon', 'hatchback', 'g coupe', 'g sedan', 'elantra coupe', 'genesis coupe', 'cts coupe', 'g convertible', 'koup', 'cts-v coupe', 'g37 convertible', 'q60 convertible', 'cts wagon', 'g37 coupe', 'q60 coupe', 'beetle convertible', 'tsx sport wagon', 'granturismo convertible', 'cts-v wagon']:
        return 'Passenger Cars'
    elif body in ['SUV', 'Transit Van', 'Crew Cab', 'Minivan', 'Van', 'Double Cab', 'CrewMax Cab', 'Access Cab', 'King Cab', 'SuperCrew', 'E-Series Van', 'Extended Cab', 'SuperCab', 'Regular Cab', 'Quad Cab', 'Club Cab', 'Xtracab', 'Mega Cab', 'Cab Plus 4', 'Promaster Cargo Van', 'Cab Plus', 'Ram Van', 'suv', 'crew cab', 'minivan', 'van', 'double cab', 'crewmax cab', 'access cab', 'king cab', 'supercrew', 'e-series van', 'extended cab', 'supercab', 'regular cab', 'quad cab', 'club cab', 'xtracab', 'mega cab', 'cab plus 4', 'promaster cargo van', 'cab plus', 'ram van', 'transit van', 'regular-cab']:
        return 'Light Trucks'
    else:
        return 'Other'

df_prices_cleaned['body_class'] = df_prices_cleaned['body'].apply(body_classification)

df_prices_cleaned.head

<bound method NDFrame.head of         year    make                model         trim       body  \
0       2015     Kia              Sorento           LX        SUV
1       2015     Kia              Sorento           LX        SUV
2       2014     BMW             3 Series   328i SULEV      Sedan
3       2015   Volvo                  S60           T5      Sedan
4       2014     BMW  6 Series Gran Coupe         650i      Sedan
...      ...     ...                  ...          ...        ...
558831  2011     BMW             5 Series         528i      Sedan
558833  2012     Ram                 2500  Power Wagon   Crew Cab
558834  2012     BMW                   X5    xDrive35d        SUV
558835  2015  Nissan               Altima        2.5 S      sedan
558836  2014    Ford                F-150          XLT  SuperCrew

       transmission                vin state      mmr  sellingprice  \
0         automatic  5xyktca69fg566472    ca  20500.0       21500.0
1         automatic  5xyktca69fg561319    ca  20800.0       21500.0
2         automatic  wba3c1c51ek116351    ca  31900.0       30000.0
3         automatic  yv1612tb4f1310987    ca  27500.0       27750.0
4         automatic  wba6b2c57ed129731    ca  66000.0       67000.0
...             ...                ...   ...      ...           ...
558831    automatic  wbafr1c53bc744672    fl  20300.0       22800.0
558833    automatic  3c6td5et6cg112407    wa  30200.0       30800.0
558834    automatic  5uxzw0c58cl668465    ca  29800.0       34000.0
558835    automatic  1n4al3ap0fc216050    ga  15100.0       11100.0
558836    automatic  1ftfw1et2eke87277    ca  29600.0       26700.0

            body_class
0         Light Trucks
1         Light Trucks
2       Passenger Cars
3       Passenger Cars
4       Passenger Cars
...                ...
558831  Passenger Cars
558833    Light Trucks
558834    Light Trucks
558835  Passenger Cars
558836    Light Trucks

[472325 rows x 11 columns]>

Exporting the finished dataframe as a .csv file

In [38]:
df_prices_cleaned.to_csv('../data/car_prices_updated.csv', index=False)

In [15]:
#df_prices_filtered = df_prices_cleaned[df_prices_cleaned['year']>2019]
#df_prices_filtered.head

In [ ]:
#df_fatal = pd.read_csv('../data/fatal_crashes_combined.csv')

In [ ]:
#df_fatal.columns

Index(['Body Class', '2020_Number', '2020_Percent', '2021_Number',
       '2021_Percent', '2022_Number', '2022_Percent', '2023_Number',
       '2023_Percent'],
      dtype='object')